<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    
    <!-- log4jdbc-log4j2 -->
    <logger name="jdbc.sqlonly"     level="DEBUG"  additivity="false" />
    <logger name="jdbc.sqltiming"     level="INFO" additivity="false"/>
    <logger name="jdbc.audit"         level="WARN" additivity="false"/>
    <logger name="jdbc.resultset"     level="ERROR" additivity="false"/>
    <logger name="jdbc.resultsettable" level="INFO" additivity="false"/>
    <logger name="jdbc.connection"     level="ERROR" additivity="false"/>
 
 
 
 <!-- <logger name="jdbc.sqlonly"     level="DEBUG" />
    <logger name="jdbc.sqltiming"     level="INFO" />
    <logger name="jdbc.audit"         level="WARN" />
    <logger name="jdbc.resultset"     level="ERROR" />
    <logger name="jdbc.resultsettable" level="ERROR" />
    <logger name="jdbc.connection"     level="INFO" /> -->
</configuration>