<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.company.asiayoga.mapper.attendanceMapper">
	
	<sql id="commomPaging">
		LIMIT #{totalRow} OFFSET #{paramPage};
  	</sql>
	
	<!-- 출석 목록  -->
	<select id="attendanceList" parameterType="attendanceVO" resultType="attendanceVO">
		/* attendanceMapper.attendanceList */
		SELECT 	@ROWNUM:=@ROWNUM+1 AS row_num,
				temp.attendance_seq,
	            temp.member_seq,
				temp.product_seq,
				temp.product_name,
				temp.name,
	            temp.phone,
	            temp.sex,
	            temp.attendance_date,
	            temp.register_date,
	            temp.register_id,
	            temp.modify_date, 
				temp.modify_id,      
	            temp.del_yn,
	            temp.store_seq
     	FROM  ( SELECT 	atdinfo.attendance_seq, 
						atdinfo.member_seq,
						atdinfo.product_seq,
						( SELECT product_name FROM productinfo WHERE product_seq = atdinfo.product_seq ) AS product_name,
						( SELECT name FROM memberinfo WHERE member_seq = atdinfo.member_seq) AS name,
						( SELECT phone FROM memberinfo WHERE member_seq = atdinfo.member_seq) AS phone,
						( SELECT sex FROM memberinfo WHERE member_seq = atdinfo.member_seq) AS sex,
						atdinfo.attendance_date,
						atdinfo.register_date,
						atdinfo.register_id,
						atdinfo.modify_date, 
						atdinfo.modify_id,
						atdinfo.del_yn,
						atdinfo.store_seq 
				FROM asiayoga.attendanceinfo atdinfo
				WHERE 1=1
				<choose>
					<when test="authority != 'ROLE_ADMIN'">
						AND atdinfo.store_seq = #{storeSeq}
					</when>
					<otherwise></otherwise>
				</choose>
				AND atdinfo.del_yn = 'N'
                ORDER BY atdinfo.attendance_date ASC 
             	) AS temp , (SELECT @ROWNUM :=0) AS R 
		<if test="searchWord != null and searchWord != ''">
		WHERE 1=1
		AND 
				(		temp.name LIKE CONCAT('%',#{searchWord},'%')
					OR 	temp.phone LIKE CONCAT('%',#{searchWord},'%')
					OR 	temp.product_name LIKE CONCAT('%',#{searchWord},'%')
					OR 	DATE_FORMAT(temp.attendance_date, '%Y-%m-%d %H:%i') LIKE CONCAT('%',#{searchWord},'%')
				)
		</if>
        ORDER BY row_num DESC
        <include refid="commomPaging"/>
	</select>
	
	<!-- 출석 목록  갯수-->
	<select id="attendanceTotalCount" parameterType="memberVO" resultType="int">
		/* attendanceMapper.attendanceTotalCount */
		SELECT 	COUNT(*)
     	FROM  ( SELECT 	atdinfo.attendance_seq, 
						atdinfo.member_seq,
						atdinfo.product_seq,
						( SELECT product_name FROM productinfo WHERE product_seq = atdinfo.product_seq ) AS product_name,
						( SELECT name FROM memberinfo WHERE member_seq = atdinfo.member_seq) AS name,
						( SELECT phone FROM memberinfo WHERE member_seq = atdinfo.member_seq) AS phone,
						( SELECT sex FROM memberinfo WHERE member_seq = atdinfo.member_seq) AS sex,
						atdinfo.attendance_date,
						atdinfo.register_date,
						atdinfo.register_id,
						atdinfo.modify_date, 
						atdinfo.modify_id,
						atdinfo.del_yn,
						atdinfo.store_seq 
				FROM attendanceinfo atdinfo
				WHERE 1=1
				<choose>
					<when test="authority != 'ROLE_ADMIN'">
						AND atdinfo.store_seq = #{storeSeq}
					</when>
					<otherwise></otherwise>
				</choose>
				AND atdinfo.del_yn = 'N'
                ORDER BY atdinfo.attendance_date ASC 
             	) AS temp , (SELECT @ROWNUM :=0) AS R 
		<if test="searchWord != null and searchWord != ''">
		WHERE 1=1
		AND 
				(		temp.name LIKE CONCAT('%',#{searchWord},'%')
					OR 	temp.phone LIKE CONCAT('%',#{searchWord},'%')
					OR 	temp.product_name LIKE CONCAT('%',#{searchWord},'%')
					OR 	DATE_FORMAT(temp.attendance_date, '%Y-%m-%d %H:%i') LIKE CONCAT('%',#{searchWord},'%')
				)
		</if>
	</select>

  	<!-- 회원 출석 상세 정보  -->
  	<select id="attendanceDetail" parameterType="attendanceVO" resultType="attendanceVO">
  		/* attendanceMapper.attendanceDetail */
		SELECT 	@ROWNUM:=@ROWNUM+1 AS row_num,
				temp.member_seq,
				temp.name,
				temp.sex,
				temp.birth,
				temp.phone,
				temp.email,
				temp.memo,
				temp.store_seq,
				temp.store_name,
				temp.attendance_seq,
				temp.attendance_date
		FROM (
				SELECT	mbinfo.member_seq,
						mbinfo.name,
						mbinfo.sex,
						mbinfo.birth,
						mbinfo.phone,
						mbinfo.email,
						mbinfo.memo,
						mbinfo.store_seq,
						( SELECT store_name FROM storeinfo WHERE store_seq = mbinfo.store_seq) AS store_name,
						atdinfo.attendance_seq,
						atdinfo.attendance_date
				FROM memberinfo mbinfo
				INNER JOIN attendanceinfo atdinfo 
				ON mbinfo.member_seq =  atdinfo.member_seq
				WHERE mbinfo.del_yn = 'N'
				AND atdinfo.del_yn ='N'
				AND mbinfo.member_seq = #{memberSeq}
				AND mbinfo.store_seq = #{storeSeq}
				ORDER BY atdinfo.attendance_date ASC
        	) AS temp, (SELECT @ROWNUM :=0) AS R
        ORDER BY row_num DESC
	</select>
	
	<!-- 출석 정보 등록 -->
	<insert id="insertAttendance" parameterType="attendanceVO">
		/* attendanceMapper.insertAttendance */
		INSERT INTO attendanceinfo
				( 	member_seq,
				  	product_seq,
				  	attendance_date,
				  	register_date,
				  	register_id,
				  	modify_date,
				  	modify_id,
				  	del_yn,
				  	store_seq
				)
		VALUES
				( 	#{memberSeq},
					#{productSeq},
				  	#{attendanceDate},
				  	now(),
				  	'admin',
				  	now(),
				  	'admin',
				  	'N',
				  	#{storeSeq}
				)
	</insert>
	
	<!-- 출석 정보 삭제 -->
	<update id="attendanceDelete" parameterType="attendanceVO">
		/* attendanceMapper.attendanceDelete */
		UPDATE attendanceinfo
		SET del_yn = 'Y' , 
			modify_date = now(),
			modify_id= #{modifyId}
		WHERE attendance_seq = #{attendanceSeq}
		AND del_yn ='N'
	</update>
	
	<!-- 출석 정보 리스트 엑셀 다운로드  -->
	<select id="attendanceExcelDownload" parameterType="attendanceVO" resultType="attendanceVO">
		/* attendanceMapper.attendanceExcelDownload */
		SELECT 	@ROWNUM:=@ROWNUM+1 AS row_num,
				temp.attendance_seq,
	            temp.member_seq,
				temp.product_name,
				temp.name,
	            temp.phone,
	            temp.sex,
	            temp.attendance_date,
	            temp.store_seq
     	FROM  ( SELECT 	atdinfo.attendance_seq, 
						atdinfo.member_seq,
						atdinfo.product_seq,
						( SELECT product_name FROM productinfo WHERE product_seq = atdinfo.product_seq ) AS product_name,
						( SELECT name FROM memberinfo WHERE member_seq = atdinfo.member_seq) AS name,
						( SELECT phone FROM memberinfo WHERE member_seq = atdinfo.member_seq) AS phone,
						( SELECT sex FROM memberinfo WHERE member_seq = atdinfo.member_seq) AS sex,
						atdinfo.attendance_date,
						atdinfo.store_seq 
				FROM attendanceinfo atdinfo
				WHERE 1=1
				<choose>
					<when test="authority != 'ROLE_ADMIN'">
						AND atdinfo.store_seq = #{storeSeq}
					</when>
					<otherwise></otherwise>
				</choose>
				AND atdinfo.del_yn = 'N'
                ORDER BY atdinfo.attendance_date ASC 
             	) AS temp , (SELECT @ROWNUM :=0) AS R 
		<if test="searchWord != null and searchWord != ''">
		WHERE 1=1
		AND 
				(		temp.name LIKE CONCAT('%',#{searchWord},'%')
					OR 	temp.phone LIKE CONCAT('%',#{searchWord},'%')
					OR 	temp.product_name LIKE CONCAT('%',#{searchWord},'%')
					OR 	DATE_FORMAT(temp.attendance_date, '%Y-%m-%d %H:%i') LIKE CONCAT('%',#{searchWord},'%')
				)
		</if>
        ORDER BY row_num DESC
	</select>
</mapper>
