<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.company.asiayoga.mapper.mobileMemberMapper">
 	
 	
	<!-- 휴회 회원 목록  -->
 	<!-- <select id="mobileMemberList" parameterType="mobileMemberVO" resultType="mobileMemberVO">
 		/* mobileMemberMapper."mobileMemberList" */
		SELECT	@ROWNUM:=@ROWNUM+1 as row_num,
				adjinfo.adjournment_seq,
				adjinfo.member_seq,
				adjinfo.store_seq,
				adjinfo.order_seq,
				adjinfo.adjournment_start,
				adjinfo.adjournment_end,
				adjinfo.adjournment_state,
				adjinfo.adjournment_memo,
				adjinfo.del_yn,
				adjinfo.register_date,
				adjinfo.register_id,
				adjinfo.modify_date,
				adjinfo.modify_id,
				mbinfo.name,
				mbinfo.phone,
				stinfo.store_name,
				prdinfo.product_name
		FROM ADJOURNMENTINFO adjinfo
		INNER JOIN ORDERINFO ordinfo
		ON adjinfo.order_seq = ordinfo.order_seq
		INNER JOIN MEMBERINFO mbinfo
		ON adjinfo.member_seq = mbinfo.member_seq
		INNER JOIN STOREINFO stinfo
		ON adjinfo.store_seq = stinfo.store_seq
		INNER JOIN PRODUCTINFO prdinfo
		ON ordinfo.product_seq = prdinfo.product_seq
		INNER JOIN (SELECT @ROWNUM :=0) AS R
		WHERE adjinfo.store_seq =#{storeSeq}
		AND adjinfo.del_yn = 'N'
		<if test="searchWord != null and searchWord != ''">
			AND 
			(		name LIKE CONCAT('%',#{searchWord},'%')
				OR 	phone LIKE CONCAT('%',#{searchWord},'%')
				OR 	product_name LIKE CONCAT('%',#{searchWord},'%')
			)
		</if>
		ORDER BY adjinfo.modify_date DESC
		<include refid="commomPaging"/>
	</select> -->
	
 	<select id="mobileMeberInfo" parameterType="mobileMemberVO" resultType="mobileMemberVO">
 		/* mobileMemberMapper."mobileMeberInfo" */
		SELECT	member_seq,
				name,
	            sex,
	            phone,
	            email,
	            birth,
	            memo,
	            store_seq,
	            register_date,
	            ( SELECt store_name FROM STOREINFO WHERE store_seq = #{storeSeq} ) AS store_name
		FROM MEMBERINFO
	    WHERE phone = #{phone}
	    AND store_seq = #{storeSeq}
	</select>
	
	
    
   
	
</mapper>
