<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.company.asiayoga.mapper.orderMapper">
 
 	<sql id="commomPaging">
		LIMIT #{totalRow} OFFSET #{paramPage};
  	</sql>
 
 	<!-- 해당 매장의 주문 전체 정보  -->
 	<select id="orderList" parameterType="orderVO" resultType="orderVO">
 		/* orderMapper.orderList */
		SELECT 	@ROWNUM:=@ROWNUM+1 AS row_num,
			 	tempA.order_seq,
			 	tempA.store_seq,
				tempA.product_seq,
				tempA.member_seq,
				tempA.start_day,
				tempA.expiration_day,
                tempA.expiration_yn,
				tempA.locker_seq,
				tempA.del_yn,
                tempA.store_name,
                tempA.product_name,
                tempA.item_name,
                tempA.name,
                tempA.phone
		FROM (	
				SELECT	ordinfo.order_seq,
						ordinfo.store_seq,
						ordinfo.product_seq,
						ordinfo.member_seq,
						ordinfo.start_day,
						ordinfo.expiration_day,
		                ordinfo.expiration_yn,
						ordinfo.locker_seq,
						ordinfo.del_yn,
		                ( SELECT store_name FROM STOREINFO WHERE store_Seq = #{storeSeq}) AS store_name,
                		prdinfo.product_name,
                		( SELECT item_name FROM PRODUCTITEM WHERE item_seq = prdinfo.item_seq) As item_name,
		                mbrinfo.name,
		                mbrinfo.phone
				FROM ORDERINFO ordinfo
		        INNER JOIN MEMBERINFO mbrinfo
		        ON ordinfo.member_seq = mbrinfo.member_seq
		        INNER JOIN PRODUCTINFO prdinfo
		        ON ordinfo.product_seq = prdinfo.product_Seq
				WHERE ordinfo.store_seq = #{storeSeq}
				AND ordinfo.del_yn = 'N'
		        ORDER By ordinfo.order_seq DESC) AS tempA
        , (SELECT @ROWNUM :=0) AS R 
        WHERE 1=1
        <if test="searchWord != null and searchWord != ''">
			AND 
			(		tempA.store_name LIKE CONCAT('%',#{searchWord},'%')
				OR 	tempA.item_name LIKE CONCAT('%',#{searchWord},'%')
				OR 	tempA.product_name LIKE CONCAT('%',#{searchWord},'%')
				OR 	tempA.name LIKE CONCAT('%',#{searchWord},'%')
				OR 	tempA.phone LIKE CONCAT('%',#{searchWord},'%')
				OR 	DATE_FORMAT(tempA.start_day, '%Y-%m-%d %H:%i') LIKE CONCAT('%',#{searchWord},'%')
				OR 	DATE_FORMAT(tempA.expiration_day, '%Y-%m-%d %H:%i') LIKE CONCAT('%',#{searchWord},'%')
			)
		</if>
        ORDER BY row_num DESC
        <include refid="commomPaging"/>
	</select>
	
 	<!-- 해당 매장의 주문 전체 갯수  -->
 	<select id="orderTotalCount" parameterType="orderVO" resultType="int">
 		/* orderMapper.orderTotalCount */
		SELECT 	COUNT(*)
		FROM (	
				SELECT	ordinfo.order_seq,
						ordinfo.store_seq,
						ordinfo.product_seq,
						ordinfo.member_seq,
						ordinfo.start_day,
						ordinfo.expiration_day,
		                ordinfo.expiration_yn,
						ordinfo.locker_seq,
						ordinfo.del_yn,
		                ( SELECT store_name FROM STOREINFO WHERE store_Seq = #{storeSeq}) AS store_name,
                		prdinfo.product_name,
                		( SELECT item_name FROM PRODUCTITEM WHERE item_seq = prdinfo.item_seq) As item_name,
		                mbrinfo.name,
		                mbrinfo.phone
				FROM ORDERINFO ordinfo
		        INNER JOIN MEMBERINFO mbrinfo
		        ON ordinfo.member_seq = mbrinfo.member_seq
		        INNER JOIN PRODUCTINFO prdinfo
		        ON ordinfo.product_seq = prdinfo.product_Seq
				WHERE ordinfo.store_seq = #{storeSeq}
				AND ordinfo.del_yn = 'N'
		        ORDER By ordinfo.order_seq DESC) AS tempA
       WHERE 1=1
       		<if test="searchWord != null and searchWord != ''">
				AND 
				(		tempA.store_name LIKE CONCAT('%',#{searchWord},'%')
					OR 	tempA.item_name LIKE CONCAT('%',#{searchWord},'%')
					OR 	tempA.product_name LIKE CONCAT('%',#{searchWord},'%')
					OR 	tempA.name LIKE CONCAT('%',#{searchWord},'%')
					OR 	tempA.phone LIKE CONCAT('%',#{searchWord},'%')
					OR 	DATE_FORMAT(tempA.start_day, '%Y-%m-%d %H:%i') LIKE CONCAT('%',#{searchWord},'%')
					OR 	DATE_FORMAT(tempA.expiration_day, '%Y-%m-%d %H:%i') LIKE CONCAT('%',#{searchWord},'%')
				)
			</if>
	</select>
	
	<!-- 고객 1명의 구매 목록  -->
 	<select id="customerOrderList" parameterType="orderVO" resultType="orderVO">
 		/* orderMapper.customerOrderList */
		SELECT  ordinfo.order_seq,
				ordinfo.store_seq,
				ordinfo.product_seq,
				ordinfo.member_seq,
				ordinfo.start_day,
				ordinfo.expiration_day,
				ordinfo.product_count,
				ordinfo.remaining_count,
				ordinfo.locker_seq,
				ordinfo.del_yn,
				ordinfo.modify_date,
				prdinfo.product_name,
				prdinfo.product_code,
				( SELECT store_name FROM STOREINFO WHERE store_seq = #{storeSeq} ) AS store_name,
				( SELECT item_seq FROM PRODUCTITEM WHERE item_seq = prdinfo.item_seq ) AS item_seq,
				( SELECT item_name FROM PRODUCTITEM WHERE item_seq = prdinfo.item_seq ) AS item_name
		FROM ORDERINFO ordinfo
		INNER JOIN PRODUCTINFO prdinfo
		ON ordinfo.product_seq = prdinfo.product_seq
		WHERE ordinfo.store_seq = #{storeSeq}
		AND ordinfo.member_seq = #{memberSeq}
		AND ordinfo.del_yn = 'N'
		ORDER BY ordinfo.modify_date DESC
	</select>
	
	<!-- 고객 1명의 주문 1개의 내용  -->
 	<select id="customerOrder" parameterType="orderVO" resultType="orderVO">
 		/* orderMapper.customerOrder */
		SELECT  ordinfo.order_seq,
				ordinfo.store_seq,
				ordinfo.product_seq,
				ordinfo.member_seq,
				ordinfo.start_day,
				ordinfo.expiration_day,
				ordinfo.product_price,
				ordinfo.customer_price,
				ordinfo.product_count,
                ordinfo.remaining_count,
				ordinfo.locker_seq,
				ordinfo.order_memo,
				ordinfo.del_yn,
				prdinfo.product_name,
				prdinfo.product_code,
                prdinfo.item_seq,
                ( SELECT item_name FROM PRODUCTITEM WHERE item_seq = prdinfo.item_seq ) AS item_name,
                ( SELECT store_name FROM STOREINFO WHERE store_seq = prdinfo.store_seq ) AS store_name,
                ( SELECT name FROM MEMBERINFO WHERE member_seq = ordinfo.member_seq ) AS name,
                ( SELECT phone FROM MEMBERINFO WHERE member_seq = ordinfo.member_seq ) AS phone
		FROM ORDERINFO ordinfo
		INNER JOIN PRODUCTINFO prdinfo
		ON ordinfo.product_seq = prdinfo.product_seq
		WHERE ordinfo.order_seq = ${orderSeq}
		AND ordinfo.del_yn = 'N';
	</select>
	
	<!-- 횟수제 상품일 경우 횟수 업데이트 -->
	<update id="updateOrderCount" parameterType="orderVO">
 		/* orderMapper.updateOrderCount */
		UPDATE ORDERINFO
		SET remaining_count = #{remainingCount}
		WHERE order_seq = #{orderSeq}
		AND del_yn = 'N'
	</update>
	
	<!-- 구매내역 삭제 -->
	<update id="orderDelete" parameterType="orderVO">
 		/* orderMapper.orderDelete */
		UPDATE ORDERINFO
		SET del_yn = 'Y'
		WHERE order_seq = #{orderSeq}
		AND store_seq = #{storeSeq}
		AND del_yn = 'N'
	</update>
	
	<!-- 구매내역 등록 -->
	<insert id="insertOrder" parameterType="orderVO">
 		/* orderMapper.insertOrder */
		INSERT INTO ORDERINFO
				(	store_seq,
					product_seq,
					member_seq,
					start_day,
					expiration_day,
					product_count,
					remaining_count,
					expiration_yn,
					product_price,
					customer_price,
					order_memo,
					locker_seq,
					del_yn,
					register_date,
					register_id,
					modify_date,
					modify_id
				)
		VALUES
				(
					#{storeSeq},
					#{productSeq},
					#{memberSeq},
					#{startDay},
					#{expirationDay},
					#{productCount},
					#{productCount},
					'N',
					#{productPrice},
					#{customerPrice},
					#{orderMemo},
					#{lockerSeq},
					'N',
					now(),
					'admin',
					now(),
					'admin'
				)
	</insert>
	
	<!-- 구매 내역 업데이트 -->
	<update id="updateOrder" parameterType="orderVO">
 		/* orderMapper.updateOrder */
 		UPDATE ORDERINFO
 		<set>
 			product_seq = ${productSeq},
 			start_day = #{startDay},
 			expiration_day = #{expirationDay},
 			product_price = #{productPrice},
 			customer_price = #{customerPrice},
 			product_count = #{productCount},
 			remaining_count = #{remainingCount},
 			order_memo = #{orderMemo},
 			locker_seq = #{lockerSeq},
 			modify_date = now(),
 			modify_id = 'admin'
 		</set>
 		WHERE order_seq = #{orderSeq}
		AND del_yn = 'N'
	</update>
	
	<!-- 휴회 상태 변경 -->
	<update id="updateAdjournmentState" parameterType="orderVO">
 		/* orderMapper.updateAdjournmentState */
 		UPDATE ORDERINFO
 		<set>
 			adjournment_state = #{adjournmentState},
 			modify_date = now(),
 			modify_id = #{modifyId}
 		</set>
 		WHERE order_seq = #{orderSeq}
	</update>
	
 	<!-- 주문 목록 엑셀 다운로드  -->
 	<select id="orderExcelDown" parameterType="orderVO" resultType="orderVO">
 		/* orderMapper.orderExcelDown */
		SELECT 	@ROWNUM:=@ROWNUM+1 AS row_num,
			 	tempA.order_seq,
			 	tempA.store_seq,
				tempA.product_seq,
				tempA.member_seq,
				tempA.start_day,
				tempA.expiration_day,
                tempA.expiration_yn,
                tempA.store_name,
                tempA.product_name,
                tempA.item_name,
                tempA.name,
                tempA.phone
		FROM (	
				SELECT	ordinfo.order_seq,
						ordinfo.store_seq,
						ordinfo.product_seq,
						ordinfo.member_seq,
						ordinfo.start_day,
						ordinfo.expiration_day,
		                ordinfo.expiration_yn,
						ordinfo.del_yn,
		                ( SELECT store_name FROM STOREINFO WHERE store_Seq = #{storeSeq}) AS store_name,
                		prdinfo.product_name,
                		( SELECT item_name FROM PRODUCTITEM WHERE item_seq = prdinfo.item_seq) As item_name,
		                mbrinfo.name,
		                mbrinfo.phone
				FROM ORDERINFO ordinfo
		        INNER JOIN MEMBERINFO mbrinfo
		        ON ordinfo.member_seq = mbrinfo.member_seq
		        INNER JOIN PRODUCTINFO prdinfo
		        ON ordinfo.product_seq = prdinfo.product_Seq
				WHERE ordinfo.store_seq = #{storeSeq}
				AND ordinfo.del_yn = 'N'
		        ORDER By ordinfo.order_seq DESC) AS tempA
        , (SELECT @ROWNUM :=0) AS R 
        WHERE 1=1
        <if test="searchWord != null and searchWord != ''">
			AND 
			(		tempA.store_name LIKE CONCAT('%',#{searchWord},'%')
				OR 	tempA.item_name LIKE CONCAT('%',#{searchWord},'%')
				OR 	tempA.product_name LIKE CONCAT('%',#{searchWord},'%')
				OR 	tempA.name LIKE CONCAT('%',#{searchWord},'%')
				OR 	tempA.phone LIKE CONCAT('%',#{searchWord},'%')
				OR 	DATE_FORMAT(tempA.start_day, '%Y-%m-%d %H:%i') LIKE CONCAT('%',#{searchWord},'%')
				OR 	DATE_FORMAT(tempA.expiration_day, '%Y-%m-%d %H:%i') LIKE CONCAT('%',#{searchWord},'%')
			)
		</if>
        ORDER BY row_num DESC
	</select>
    
</mapper>
