<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.company.asiayoga.mapper.orderMapper">
 
 	<sql id="commomPaging">
		LIMIT #{totalRow} OFFSET #{paramPage}
  	</sql>
 
 	<!-- 해당 매장의 주문 전체 정보  -->
 	<select id="orderList" parameterType="orderVO" resultType="orderVO">
 		/* orderMapper.orderList */
		SELECT 	@ROWNUM:=@ROWNUM+1 AS row_num,
			 	tempA.order_seq,
			 	tempA.store_seq,
				tempA.product_seq,
				tempA.customer_price,
				tempA.member_seq,
				tempA.my_membership,
				tempA.start_day,
				tempA.expiration_day,
                tempA.expiration_yn,
				tempA.locker_seq,
				tempA.del_yn,
                tempA.store_name,
                tempA.product_name,
                tempA.name,
                tempA.phone,
                tempA.register_date
		FROM (	
				SELECT	ordinfo.order_seq,
						ordinfo.store_seq, 
						ordinfo.product_seq, 
						ordinfo.customer_price, 
						ordinfo.member_seq, 
						mbinfo.my_membership,
						ordinfo.start_day, 
						ordinfo.expiration_day, 
						ordinfo.expiration_yn, 
						ordinfo.locker_seq, 
						ordinfo.del_yn, 
						stinfo.store_name, 
						prdinfo.product_name, 
						mbinfo.name, 
						mbinfo.phone, 
						ordinfo.register_date 
				FROM orderinfo ordinfo
		        INNER JOIN memberinfo mbinfo
		        ON ordinfo.member_seq = mbinfo.member_seq
		        INNER JOIN productinfo prdinfo
		        ON ordinfo.product_seq = prdinfo.product_Seq
		        INNER JOIN storeinfo stinfo
		        ON ordinfo.store_seq = stinfo.store_seq
		        INNER JOIN (SELECT @ROWNUM :=0) AS R 
				WHERE 1=1
				<choose>
					<when test="authority != 'ROLE_ADMIN'">
						AND ordinfo.store_seq = #{storeSeq}
					</when>
					<otherwise></otherwise>
				</choose>
				AND ordinfo.del_yn = 'N'
		        <if test="searchWord != null and searchWord != ''">
					AND 
					(		stinfo.store_name LIKE CONCAT('%',#{searchWord},'%')
						OR 	mbinfo.my_membership LIKE CONCAT('%',#{searchWord},'%')
						OR 	ordinfo.customer_price LIKE CONCAT('%',#{searchWord},'%')
						OR 	prdinfo.product_name LIKE CONCAT('%',#{searchWord},'%')
						OR 	mbinfo.name LIKE CONCAT('%',#{searchWord},'%')
						OR 	mbinfo.phone LIKE CONCAT('%',#{searchWord},'%')
						OR 	DATE_FORMAT(ordinfo.start_day, '%Y-%m-%d %H:%i') LIKE CONCAT('%',#{searchWord},'%')
						OR 	DATE_FORMAT(ordinfo.expiration_day, '%Y-%m-%d %H:%i') LIKE CONCAT('%',#{searchWord},'%')
					)
				</if>
		        ORDER BY ordinfo.modify_date ASC
			) AS tempA
        ORDER BY row_num DESC
        <include refid="commomPaging"/>
	</select>
	
 	<!-- 해당 매장의 주문 전체 갯수  -->
 	<select id="orderTotalCount" parameterType="orderVO" resultType="int">
 		/* orderMapper.orderTotalCount */
		SELECT COUNT(*)
		FROM (	
				SELECT	ordinfo.order_seq,
						ordinfo.store_seq, 
						ordinfo.product_seq, 
						ordinfo.customer_price, 
						ordinfo.member_seq, 
						mbinfo.my_membership,
						ordinfo.start_day, 
						ordinfo.expiration_day, 
						ordinfo.expiration_yn, 
						ordinfo.locker_seq, 
						ordinfo.del_yn, 
						stinfo.store_name, 
						prdinfo.product_name, 
						mbinfo.name, 
						mbinfo.phone, 
						ordinfo.register_date 
				FROM orderinfo ordinfo
		        INNER JOIN memberinfo mbinfo
		        ON ordinfo.member_seq = mbinfo.member_seq
		        INNER JOIN productinfo prdinfo
		        ON ordinfo.product_seq = prdinfo.product_seq
		        INNER JOIN storeinfo stinfo
		        ON ordinfo.store_seq = stinfo.store_seq
				WHERE 1=1
				<choose>
					<when test="authority != 'ROLE_ADMIN'">
						AND ordinfo.store_seq = #{storeSeq}
					</when>
					<otherwise></otherwise>
				</choose>
				AND ordinfo.del_yn = 'N'
				<if test="searchWord != null and searchWord != ''">
					AND 
					(		stinfo.store_name LIKE CONCAT('%',#{searchWord},'%')
						OR 	mbinfo.my_membership LIKE CONCAT('%',#{searchWord},'%')
						OR 	ordinfo.customer_price LIKE CONCAT('%',#{searchWord},'%')
						OR 	prdinfo.product_name LIKE CONCAT('%',#{searchWord},'%')
						OR 	mbinfo.name LIKE CONCAT('%',#{searchWord},'%')
						OR 	mbinfo.phone LIKE CONCAT('%',#{searchWord},'%')
						OR 	DATE_FORMAT(ordinfo.start_day, '%Y-%m-%d %H:%i') LIKE CONCAT('%',#{searchWord},'%')
						OR 	DATE_FORMAT(ordinfo.expiration_day, '%Y-%m-%d %H:%i') LIKE CONCAT('%',#{searchWord},'%')
					)
				</if>
		        ) AS tempA
	</select>
	
	<!-- 고객 1명의 구매 목록  -->
 	<select id="customerOrderList" parameterType="orderVO" resultType="orderVO">
 		/* orderMapper.customerOrderList */
		SELECT  ordinfo.order_seq,
				ordinfo.store_seq,
				ordinfo.product_seq,
				ordinfo.member_seq,
				( SELECT my_membership FROM memberinfo WHERE member_seq = ordinfo.member_seq) AS my_membership,
				ordinfo.start_day,
				ordinfo.expiration_day,
				ordinfo.product_count,
				ordinfo.remaining_count,
				ordinfo.locker_seq,
				ordinfo.del_yn,
				ordinfo.modify_date,
				prdinfo.product_name,
				( SELECT store_name FROM storeinfo WHERE store_seq = #{storeSeq} ) AS store_name,
		FROM orderinfo ordinfo
		INNER JOIN productinfo prdinfo
		ON ordinfo.product_seq = prdinfo.product_seq
		WHERE ordinfo.store_seq = #{storeSeq}
		AND ordinfo.member_seq = #{memberSeq}
		AND ordinfo.del_yn = 'N'
		ORDER BY ordinfo.modify_date DESC
	</select>
	
	<!-- 고객 1명의 주문 1개의 내용  -->
 	<select id="customerOrder" parameterType="orderVO" resultType="orderVO">
 		/* orderMapper.customerOrder */
		SELECT  ordinfo.order_seq,
				ordinfo.store_seq,
				ordinfo.product_seq,
				ordinfo.member_seq,
				( SELECT my_membership FROM memberinfo WHERE member_seq = ordinfo.member_seq) AS my_membership,
				ordinfo.start_day,
				ordinfo.expiration_day,
				ordinfo.product_price,
				ordinfo.customer_price,
				ordinfo.product_count,
                ordinfo.remaining_count,
				ordinfo.locker_seq,
				ordinfo.order_memo,
				ordinfo.del_yn,
				prdinfo.product_name,
                ( SELECT store_name FROM storeinfo WHERE store_seq = prdinfo.store_seq ) AS store_name,
                ( SELECT name FROM memberinfo WHERE member_seq = ordinfo.member_seq ) AS name,
                ( SELECT phone FROM memberinfo WHERE member_seq = ordinfo.member_seq ) AS phone,
                ( SELECT join_date FROM memberinfo WHERE member_seq = ordinfo.member_seq ) AS join_date
		FROM orderinfo ordinfo
		INNER JOIN productinfo prdinfo
		ON ordinfo.product_seq = prdinfo.product_seq
		WHERE ordinfo.order_seq = ${orderSeq}
		AND ordinfo.del_yn = 'N';
	</select>
	
	<!-- 횟수제 상품일 경우 횟수 업데이트 -->
	<update id="updateOrderCount" parameterType="orderVO">
 		/* orderMapper.updateOrderCount */
		UPDATE orderinfo
		SET remaining_count = #{remainingCount}
		WHERE order_seq = #{orderSeq}
		AND del_yn = 'N'
	</update>
	
	<!-- 구매내역 삭제 -->
	<update id="orderDelete" parameterType="orderVO">
 		/* orderMapper.orderDelete */
		UPDATE orderinfo
		SET del_yn = 'Y'
		WHERE order_seq = #{orderSeq}
		AND store_seq = #{storeSeq}
		AND del_yn = 'N'
	</update>
	
	<!-- 구매내역 등록 -->
	<insert id="insertOrder" parameterType="orderVO">
 		/* orderMapper.insertOrder */
		INSERT INTO orderinfo
				(	store_seq,
					product_seq,
					member_seq,
					start_day,
					expiration_day,
					product_count,
					remaining_count,
					expiration_yn,
					product_price,
					customer_price,
					order_memo,
					locker_seq,
					del_yn,
					register_date,
					register_id,
					modify_date,
					modify_id
				)
		VALUES
				(
					#{storeSeq},
					#{productSeq},
					#{memberSeq},
					#{startDay},
					#{expirationDay},
					#{productCount},
					#{productCount},
					'N',
					#{productPrice},
					#{customerPrice},
					#{orderMemo},
					#{lockerSeq},
					'N',
					now(),
					#{registerId},
					now(),
					#{registerId}
				)
	</insert>
	
	<!-- 구매 내역 업데이트 -->
	<update id="updateOrder" parameterType="orderVO">
 		/* orderMapper.updateOrder */
 		UPDATE orderinfo
 		<set>
 			product_seq = ${productSeq},
 			start_day = #{startDay},
 			expiration_day = #{expirationDay},
 			product_price = #{productPrice},
 			customer_price = #{customerPrice},
 			product_count = #{productCount},
 			remaining_count = #{remainingCount},
 			order_memo = #{orderMemo},
 			locker_seq = #{lockerSeq},
 			modify_date = now(),
 			modify_id = 'admin'
 		</set>
 		WHERE order_seq = #{orderSeq}
		AND del_yn = 'N'
	</update>
	
	<!-- 휴회 상태 변경 -->
	<update id="updateAdjournmentState" parameterType="orderVO">
 		/* orderMapper.updateAdjournmentState */
 		UPDATE orderinfo
 		<set>
 			adjournment_state = #{adjournmentState},
 			modify_date = now(),
 			modify_id = #{modifyId}
 		</set>
 		WHERE order_seq = #{orderSeq}
	</update>
	
 	<!-- 주문 목록 엑셀 다운로드  -->
 	<select id="orderExcelDown" parameterType="orderVO" resultType="orderVO">
 		/* orderMapper.orderExcelDown */
		SELECT 	@ROWNUM:=@ROWNUM+1 AS row_num,
			 	tempA.order_seq,
			 	tempA.store_seq,
				tempA.product_seq,
				tempA.customer_price,
				tempA.member_seq,
				tempA.my_membership,
				tempA.start_day,
				tempA.expiration_day,
                tempA.expiration_yn,
				tempA.locker_seq,
				tempA.del_yn,
                tempA.store_name,
                tempA.product_name,
                tempA.name,
                tempA.phone,
                tempA.register_date
		FROM (	
				SELECT	ordinfo.order_seq,
						ordinfo.store_seq, 
						ordinfo.product_seq, 
						ordinfo.customer_price, 
						ordinfo.member_seq, 
						mbinfo.my_membership,
						ordinfo.start_day, 
						ordinfo.expiration_day, 
						ordinfo.expiration_yn, 
						ordinfo.locker_seq, 
						ordinfo.del_yn, 
						stinfo.store_name, 
						prdinfo.product_name, 
						mbinfo.name, 
						mbinfo.phone, 
						ordinfo.register_date 
				FROM orderinfo ordinfo
		        INNER JOIN memberinfo mbinfo
		        ON ordinfo.member_seq = mbinfo.member_seq
		        INNER JOIN productinfo prdinfo
		        ON ordinfo.product_seq = prdinfo.product_Seq
		        INNER JOIN storeinfo stinfo
		        ON ordinfo.store_seq = stinfo.store_seq
		        INNER JOIN (SELECT @ROWNUM :=0) AS R 
				WHERE 1=1
				<choose>
					<when test="authority != 'ROLE_ADMIN'">
						AND ordinfo.store_seq = #{storeSeq}
					</when>
					<otherwise></otherwise>
				</choose>
				AND ordinfo.del_yn = 'N'
		        <if test="searchWord != null and searchWord != ''">
					AND 
					(		stinfo.store_name LIKE CONCAT('%',#{searchWord},'%')
						OR 	mbinfo.my_membership LIKE CONCAT('%',#{searchWord},'%')
						OR 	ordinfo.customer_price LIKE CONCAT('%',#{searchWord},'%')
						OR 	prdinfo.product_name LIKE CONCAT('%',#{searchWord},'%')
						OR 	mbinfo.name LIKE CONCAT('%',#{searchWord},'%')
						OR 	mbinfo.phone LIKE CONCAT('%',#{searchWord},'%')
						OR 	DATE_FORMAT(ordinfo.start_day, '%Y-%m-%d %H:%i') LIKE CONCAT('%',#{searchWord},'%')
						OR 	DATE_FORMAT(ordinfo.expiration_day, '%Y-%m-%d %H:%i') LIKE CONCAT('%',#{searchWord},'%')
					)
				</if>
		        ORDER BY ordinfo.modify_date ASC
			) AS tempA
        ORDER BY row_num DESC
	</select>
    
</mapper>
