<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.company.asiayoga.mapper.storeMapper">

	<sql id="commomPaging">
  		LIMIT #{totalRow} OFFSET #{paramPage};
  	</sql>

	<!-- 매장 목록  -->
	<select id="storeList" parameterType="storeVO" resultType="storeVO">
		/* storeMapper.storeList */
		SELECT
			@ROWNUM:=@ROWNUM+1 AS row_num, 
			store_seq,
			store_name,
			store_tel,
			store_phone,
			post_code,
			road_address,
			jibun_address,
			detail_address,
			extra_address,
			store_memo
		FROM storeinfo, (SELECT @ROWNUM :=0) AS R
		WHERE del_yn = 'N'
		<if test="searchWord != null and searchWord != ''">
			AND 
			(		store_name LIKE CONCAT('%',#{searchWord},'%')
				OR 	store_tel LIKE CONCAT('%',#{searchWord},'%')
				OR 	store_phone LIKE CONCAT('%',#{searchWord},'%')
				OR 	post_code LIKE CONCAT('%',#{searchWord},'%')
				OR 	road_address LIKE CONCAT('%',#{searchWord},'%')
				OR 	jibun_address LIKE CONCAT('%',#{searchWord},'%')
				OR 	detail_address LIKE CONCAT('%',#{searchWord},'%')
				OR 	extra_address LIKE CONCAT('%',#{searchWord},'%')
			)
		</if>
		ORDER BY store_seq DESC,row_num DESC
		<include refid="commomPaging"/>
	</select>
	
	<!-- 매장 목록  갯수-->
	<select id="storeTotalCount" parameterType="storeVO" resultType="int">
		/* storeMapper.storeTotalCount */
		SELECT	COUNT(*)		
		FROM storeinfo
		WHERE del_yn = 'N'
		<if test="searchWord != null and searchWord != ''">
			AND 
			(		store_name LIKE CONCAT('%',#{searchWord},'%')
				OR 	store_tel LIKE CONCAT('%',#{searchWord},'%')
				OR 	store_phone LIKE CONCAT('%',#{searchWord},'%')
				OR 	post_code LIKE CONCAT('%',#{searchWord},'%')
				OR 	road_address LIKE CONCAT('%',#{searchWord},'%')
				OR 	jibun_address LIKE CONCAT('%',#{searchWord},'%')
				OR 	detail_address LIKE CONCAT('%',#{searchWord},'%')
				OR 	extra_address LIKE CONCAT('%',#{searchWord},'%')
			)
		</if>
	</select>
	
	<!-- 매장 상세  -->
	<select id="storeDetail" parameterType="storeVO" resultType="storeVO">
		/* storeMapper.storeDetail */
		SELECT	store_seq,
				store_name,
				store_tel,
				store_phone,
				post_code,
				road_address,
				jibun_address,
				road_address,
				detail_address,
				extra_address,
				store_memo
		FROM storeinfo
		WHERE del_yn = 'N'
		AND store_seq = #{storeSeq}
	</select>
	
	<!-- 매장 저장  -->
	<select id="insertStore" parameterType="storeVO">
		/* storeMapper.insertStore */
		INSERT INTO storeinfo 
				(	store_name,
					store_tel,
					store_phone,
					post_code,
					road_address,
					jibun_address,
					detail_address,
					extra_address,
					store_memo,
					del_yn,
					register_date,
					register_id,
					modify_date,
					modify_id
				)
		VALUES	(	#{storeName},
					#{storeTel},
					#{storePhone},
					#{postCode},
					#{roadAddress},
					#{jibunAddress},
					#{detailAddress},
					#{extraAddress},
					#{storeMemo},
					'N',
					now(),
					#{registerId},
					now(),
					#{registerId}
				)
	</select>
	
	
	<!-- 매장 삭제  -->
	<update id="storeDelete" parameterType="storeVO">
		/* storeMapper.storeDelete */
		UPDATE storeinfo
		<set>
			del_yn = 'Y',
			modify_date= now(),
			modify_id = #{modifyId}
		</set>
		WHERE store_seq = #{storeSeq}
		AND del_yn = 'N'
	</update>
	
	<!-- 매장 정보 업데이트  -->
	<update id="updateStore" parameterType="storeVO">
		/* storeMapper.updateStore */
		UPDATE storeinfo
		<set>
			<if test="storeName != null and storeName != ''">store_name = #{storeName},</if>
  			<if test="storeTel != null and storeTel != ''">store_tel = #{storeTel},</if>
  			<if test="storePhone != null and storePhone != ''">store_phone = #{storePhone},</if>
  			post_code = #{postCode},
  			road_address = #{roadAddress},
  			jibun_address = #{jibunAddress},
  			detail_address = #{detailAddress},
  			extra_address = #{extraAddress},
  			store_memo = #{storeMemo},
  			modify_date =now(),
			modify_id = #{modifyId}
		</set>
		WHERE store_seq = #{storeSeq}
		AND del_yn = 'N'
	</update>

	<!-- 매장 리스트 엑셀 다운로드  -->
	<select id="storeExcelDownload" parameterType="storeVO" resultType="storeVO">
		/* storeMapper.storeExcelDownload */
		SELECT
			@ROWNUM:=@ROWNUM+1 AS row_num, 
			store_seq,
			store_name,
			store_tel,
			store_phone,
			post_code,
			road_address,
			jibun_address,
			detail_address,
			extra_address,
			store_memo,
			post_code,
			road_address,
			jibun_address,
			detail_address,
			extra_address
		FROM storeinfo, (SELECT @ROWNUM :=0) AS R
		WHERE del_yn = 'N'
		<if test="searchWord != null and searchWord != ''">
			AND 
			(		store_name LIKE CONCAT('%',#{searchWord},'%')
				OR 	store_tel LIKE CONCAT('%',#{searchWord},'%')
				OR 	store_phone LIKE CONCAT('%',#{searchWord},'%')
				OR 	post_code LIKE CONCAT('%',#{searchWord},'%')
				OR 	road_address LIKE CONCAT('%',#{searchWord},'%')
				OR 	jibun_address LIKE CONCAT('%',#{searchWord},'%')
				OR 	detail_address LIKE CONCAT('%',#{searchWord},'%')
				OR 	extra_address LIKE CONCAT('%',#{searchWord},'%')
			)
		</if>
		ORDER BY store_seq DESC,row_num DESC
	</select>

	<!-- 팝업에서의 매장 목록  -->
	<select id="storeSearchList" parameterType="storeVO" resultType="storeVO">
		/* storeMapper.storeSearchList */
		SELECT
			@ROWNUM:=@ROWNUM+1 AS row_num, 
			store_seq,
			store_name,
			store_tel,
			store_phone,
			post_code,
			road_address,
			jibun_address,
			detail_address,
			extra_address,
			store_memo
		FROM storeinfo, (SELECT @ROWNUM :=0) AS R
		WHERE del_yn = 'N'
		<if test="searchWord != null and searchWord != ''">
			AND 
			(		store_name LIKE CONCAT('%',#{searchWord},'%')
				OR 	store_tel LIKE CONCAT('%',#{searchWord},'%')
				OR 	store_phone LIKE CONCAT('%',#{searchWord},'%')
				OR 	store_address LIKE CONCAT('%',#{searchWord},'%')
				OR 	post_code LIKE CONCAT('%',#{searchWord},'%')
				OR 	road_address LIKE CONCAT('%',#{searchWord},'%')
				OR 	jibun_address LIKE CONCAT('%',#{searchWord},'%')
				OR 	detail_address LIKE CONCAT('%',#{searchWord},'%')
				OR 	extra_address LIKE CONCAT('%',#{searchWord},'%')
			)
		</if>
		ORDER BY store_seq DESC,row_num DESC
	</select>
</mapper>
